<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293113606079-j2ttfs69fsbgo4dmvsialnocelnuj477.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293113606079-j2ttfs69fsbgo4dmvsialnocelnuj477</string>
	<key>API_KEY</key>
	<string>AIzaSyB81MuV8m63qERDHyrBP9da2uTzNH9mQRk</string>
	<key>GCM_SENDER_ID</key>
	<string>293113606079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jithin.flavorTest</string>
	<key>PROJECT_ID</key>
	<string>flavor-dev-2b480</string>
	<key>STORAGE_BUCKET</key>
	<string>flavor-dev-2b480.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293113606079:ios:27a48d08dbe9e363997b0a</string>
	<key>DATABASE_URL</key>
	<string>https://flavor-dev-2b480.firebaseio.com</string>
</dict>
</plist>